//
//  Secrets.swift
//  rubyconferences
//
//  Created by Rashmi Yadav on 5/24/15.
//
//

import Foundation

let apiUrl: String = "https://conferences.inruby.org/api"
let apiSecret: String = "some-secret"
